.item {
  display: flex;
  margin-bottom: 32px;
}

.avatar {
  max-width: 68px;
  min-width: 68px;
  width: 68px;
  height: 68px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;

  img {
    min-height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
}

.authorName {
  margin-bottom: 4px;
  line-height: 22px;
}

.date {
  color: #8297ab;
}

.action {
  display: flex;
  cursor: pointer;

  img {
    margin-right: 10px;
  }
}

.text {
  line-height: 19px;
}

@media only screen and (max-width: 576px) {
  .item {
    margin-bottom: 24px;
  }

  .avatar {
    max-width: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
}
